<div class="container">
    <div class="row">
      <div class="input-group mb-3">

        <!-- Two way i kullanmak için FormsMOdul ü import etmen gerek. 2 wayde hem value hem inputu içeriyormuş gibi davranır ngModel -->
        <!-- One way bindging -->

        <input
          #inpt
          (input)="search(inpt.value)"
          type="text"
          class="form-control"
          placeholder="Search"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />

        <br>


        <input
          #inpt
          [value]="editItem?.title || ''"  
          type="text"
          class="form-control"
          placeholder="Todo"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
        <div class="input-group-prepend">
          <button
            [hidden]="!editMode"
            class="btn btn-info"
            (click)="update(inpt)"
          >
            Güncelle
          </button>
          <button [disabled]="editMode" class="btn btn-secondary" (click)="add()">
            Ekle
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <ul class="list-group" *ngFor="let todo of data">
        <li class="list-group-item d-flex justify-content-between">
          <div>
            {{ todo.title }} {{todo.completed | todoPipe}}
          </div>
  
          <div>
            <button class="btn btn-primary" (click)="edit(todo.id)">
              Düzenle
            </button>
            <button class="btn btn-close m-2" (click)="add(inpt)"> Ekle </button>

            <button class="btn btn-close m-2" (click)="delete(todo.id)"> Sil </button>
          </div>
        </li>
      </ul>
    </div>
  </div>